body {
    padding: 0px;
    margin: 0px;
    border: 0px;

    text-align: center;
}

#nav-bar {
    display: flex;
    background-color: rgb(41, 152, 216);
    width: 100%;
    height: 75px;
    
    
    justify-content: space-between;
}

#logo {

    width: 200px;
    height: 100%;
    background-color: orange;
}

#nav-content {
    width: 350px;
    height: 100%;
    background-color: pink;

    display: flex;
    justify-content: space-between;
}

#profile {
    width: 150px;
    height: 100%;
    background-color: rgb(192, 255, 203);
    
    justify-content: center;
}

#profile a {
    margin: 25px;
    display: block;
    background-color: blanchedalmond;
}

#cart {
    width: 150px;
    height: 100%;
    background-color: rgb(192, 255, 203);
}

#cart p {
    margin: 25px;
    display: block;
    background-color: blanchedalmond;
}