body {
  padding: 0px;
  margin: 0px;
  border: 0px;
  background-color:rgba(150, 255, 255, .5);
}

#sinb {
  background-color: red;
  background-image: url(../Images/image1.jpg);
  background-repeat: no-repeat;
  background-size: contain; 
}

/* #region Unit Sizes */

p {
  font-size: 1em;
}

.medium-container {
  height: 300px; /* absolute units: px, pt, pc(12pt), cm, mm */
  width: 70%; /* relative units: em, % */
  /* there is also vw(view width) and vh(view height)*/
}

/* #endregion */

/* #region Text Manipulation */
  /*
   text-decoration has 4 main features;
   none, underline, line-through, overline
  */
.text-dec {
  text-decoration: underline;
}

  /*
   text-transform has 4 main features;
   none, lowercase, uppercase, capitalize
  */
.text-trans {
  text-transform: capitalize;
}

  /*
   text-align has 3 main features:
   left, center, right, justify
  */
.text-align {
  text-align: center;
}

/* #endregion */

/* #region Font Manipulation/Styles */

body {
  font-size: 1.15em; /* you want to use em for this because its relative */
}
  /*
   Font weights are the bolding of the text
   ranges from 0 to 800-900 max
   looks like 0 is default
  */
.title {
  font-weight: 100;
}
  /*
   Font style is for italics and has 3 values
   normal, italic, oblique(most italic)
  */
.italics {
  font-style: italic; 
}

  /*
   Font families [use fonts.google.com for more]
   serif font - ends line [Times News Roman]
   sans-serif - no line (most common) [Arial]
   monospace - each character has same width [Coriar]

   font-family: SpecificFont, default;
  */
body {
  font-family: 'Staatliches', cursive;
}

/* #endregion */


