/* 
    Css Rule: 
    Selectors 
    Declaration Block are the things inside the curly braces (body)
    declaration is the property[color] and value[orange]
*/

/* Typically you don't want to change the whole thing but this is how you would */
body{
 color:purple;
}
h1, h2{
 color:orange;
 font-size: 3rem;
}
h3{
 color:purple;
}

/*  This is the hierachy of selectors for CSS */
  /*
    Selectors are just using the html tag to have all of it 
  */
p {
  color: blue;
}
  /* 
    Using classes .className 
    This is mainly used for specific changes wanted
  */
.classRed {
  color: red;
}
  /* 
  Using ids #idName 
    This is mainly use for chaning a whole section
  */
#idPurple {
  color: purple;
}
  
