body {
    margin: 0px;
    border: 0px;
    padding: 0px;
    background-color:rgba(13, 53, 53, 0.6);
  }

h2 {
    width: 100%;
    font-size: 3em;
    text-align: center;
}

.container-item {
    background-color: green;
    color: white;
    font-size: 25px;
    text-align: center;

    width: 70px;
    line-height: 50px;
    margin: 10px 10px 10px 10px;
} 

.container {
    background-color: rgba(255,255,255,1);
    background-color: rgba(4, 31, 31, 0.6);
    margin: 10px;
    height: 300px;

    display: flex;
    /* 
        flex-direction
            row - left to right
            column - up to down
            row-reverse
            column-reverse
    */
    flex-direction: row;

    /* 
        flex-wrap: 
            no-wrap - default, will change the size of the flex items inside to match the width 
            wrap - helps contain the original flex items to it's size and pushes it down
            wrap-reverse - wrap but the extras are pushed up 
    */
    /* flex-wrap: wrap;  */
    /* 
        Alignment
        justift-content:
            start - default left
            end - right
            center - center
            space-between - space inbetween items (stretched out)
            space-around - space around items (gives space from edges too) (centered)
    */
    justify-content: center;
    /* 
        Alignment
        align-items
            start - top
            end - end
            center - center
            stretch - default (stretch top to bottom)
            baseline - no matter the size, keeps it all on teh same baseline (invisible bottom line)
    */
    align-items: center;
}


.grid-container {
    background-color: rgba(4, 31, 31, 0.6);
    margin: 10px;
    height: 300px;

    display: grid;

    /* 
        grid-template-columns and rows
            choose how many columns/rows you want and just put the size that you want it
                auto- will give u even size for all autos (makes up for the space already taken)
            any excessive items will be made to auto size
    */
    grid-template-columns: 100px 100px 300px;
    grid-template-columns: auto auto auto;
    /* grid-column-gap: 300px; */
    
    grid-template-rows: 50px 250px;
    grid-template-rows: auto auto;
    /* grid-row-gap: 20px; */
    /* 
        justify-content
            start, center, end
            unset(default) - gives equal space for autos and give the set value obj their own space (based off their margin)
            space-between - gives spaces only inbetween obj
                a<-->b<-->c
            space-evenly - from the ends to the next object
                <->a<->b<->c<->
            space-around - gives the same space surrounding object (increasing margin basically)
                <->a<-><->b<-><->c<->
    */
    justify-content:space-between;
    /* 
        align-content
            front, center, end
            stretch- (defaulted) to stretching from top to bottom
            space-between, space-around, space-evenly same as justifies
    */
    align-content: space-evenly;
}

#nextItem {
    justify-content: unset;
    align-content: unset;
}

.grid-item {
    color:black;
    font-size: 20px;
    text-align: center;

    width: 70px;
    /* height: 20px; */
    line-height: 40px;
    margin: 10px;
}